.button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;
  padding: 10px 20px;
  border: 1px solid var(--button-border-color);
  border-radius: 8px;

  color: var(--text-color-primary);

  background: var(--button-background-gradient);
  box-shadow: var(--button-box-shadow);

  transition: all 0.3s ease;
}

.button:hover {
  filter: brightness(1.06);
  box-shadow: var(--button-hover-box-shadow);
}
