.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;

  min-height: 0;
}

.table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.title {
  align-self: center;
  padding-bottom: 10px;
  font-size: 30px;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table th,
.table td {
  padding: 8px 12px;
}
