.container {
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-items: center;
  justify-content: center;

  height: 100%;
  padding: 10px;
}

.countersBox {
  display: flex;
  gap: 12px;
  justify-content: center;

  width: 300px;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 8px;

  box-shadow: var(--box-shadow);
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;

  width: fit-content;
  margin: 0 auto;
  padding: 10px;
}
